:root {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #333;

  --hover: .8s cubic-bezier(.07, .84, .04, .96);
}

body {
  background-color: #333;
  margin: 0;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.canvas {
  border: none;
  background-color: white;

  height: 100vh;
  width: 100vh;

  flex-grow: 0;
}

a {
  position: absolute;

  left: 100vw;

  width: fit-content;
  height: fit-content;
}

#btn-back {
  background-color: #222222;

  transform: translateX(-2rem) translateY(-2rem) rotate(45deg);
  width: 4rem;
  height: 4rem;

  outline-offset: 2px;
  outline-width: 2px;
  outline-style: dashed;
  outline-color: #222222;

  transition: var(--hover);
}

#btn-back:hover {
  transform: translateX(-6rem) translateY(-6rem) rotate(45deg);
  width: 12rem;
  height: 12rem;

  transition: var(--hover);
}

#backArrow {
  position: absolute;
  color: white;
  font-size: 4rem;
  transform: rotate(-45deg) translateY(25%) translateX(50%);
  width: 100%;
  height: 100%;
  text-align: center;

  transition: var(--hover);
}

#btn-back:hover #backArrow {
  transform: rotate(-45deg) translateY(45%) translateX(-25%);
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-items: baseline;
  flex-grow: 1;
  margin: 2%;
}

/* shape selector */
.shape-container {
  display: flex;
  justify-content: space-evenly;
}

.shape {
  /*radio*/

  cursor: pointer;
  width: 5vw;
  height: 5vw;


  position: relative;
  overflow: hidden;
  border: 1.5px solid white;

  transition: var(--hover);
}

.shape:before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;

  -webkit-transition: var(--hover);
}

.shape:hover:before {
  top: 50%;
  outline: 2px white dashed;
  outline-offset: 4px;

  -webkit-transition: var(--hover);
}

.shape:focus:before {
  top: 0;

  -webkit-transition: top 1s ease-in;
}

#circle {
  border-radius: 50%;
}


.shape:active {
  width: 4vw;
  height: 4vw;
  background-color: #000;
}

/* timer */
.timer-container {
  display: flex;
}

.timer-svg {
  width: 100%;
  font-family: 'Barlow Condensed', sans-serif;
}

.time {
  transition: .5s ease;
}

#spectrum {
  width: 100%;
  height: 100%;
  cursor: pointer;

  outline: -1px #fff dashed;
  outline-offset: 0px;

  transition: var(--hover);
}

#spectrum:hover {
  outline: 2px #fff dashed;
  outline-offset: -8px;

  transition: var(--hover);

}

/* palette */
.palette-container {
  height: 100%;
}

.dropper-icon {
  position: absolute;
  filter: invert();
  transform: translateX(-100%);
  width: 100px;
  pointer-events: none;

  transition: var(--hover);
}

.palette-container {
  position: relative;
  overflow: hidden;
}

.palette-container:hover .dropper-icon {
  transform: translateX(0%);
  cursor: pointer;
}

.theme-name.sp-container {}

.theme-name.sp-replacer {}

.theme-name .sp-preview {}